.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 90%;
}

.Welcome {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.canvasStyle {
  border: 1px black solid;
  border-radius: 4px;
  width: auto !important;
  flex-grow: 2;
}

.thicknessSlider {
  margin: 12px 0;
}
